<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:replace="fragments/head :: headFragment"></head>

<body>
    <!-- Left Panel -->
    <div th:replace="fragments/leftmenu :: leftmenuFragment"></div>	
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <div th:replace="fragments/header :: headerFragment"></div>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            
            <div id="rightcolumn" style="overflow: scroll;">
				<th:block layout:fragment="customContents"></th:block>
			</div>
       
            <!-- .animated -->
        </div>
        <!-- /.content -->
        
        <div class="clearfix">
        
        </div>
        
        <!-- Footer -->
        
        <div th:replace="fragments/footer :: footerFragment"></div>
        
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
</body>
	<div th:replace="fragments/script :: scriptFragment"></div>
</html>
