<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>EN_genius</title>
</th:block>
<th:block layout:fragment="customContents">

<div class="col col-md-6">
<div class="card">
       <div class="card-header"><strong>차량 등록</strong>
       <small> 졸리다..</small></div>
       <div class="card-body card-block">
       	<form th:action="@{carRegister}" method="Post">
          <div class="form-group"><label for="company" class=" form-control-label">차대번호</label><input type="text" id="company" placeholder="차대번호" class="form-control" name="customerCarInfoCode"></div>
           <div class="form-group"><label for="vat" class=" form-control-label">고객 이름</label><input type="text" id="vat" placeholder="고객 이름" class="form-control" name="customerCode"></div>
           <div class="form-group"><label for="street" class=" form-control-label">차량 번호</label><input type="text" id="street" placeholder="차량 번호" class="form-control" name="customerCarNumber"></div>
           <div class="row form-group">
			<table>     
               
             <tr>
             <td>
               <div class="col col-md-12"><label for="selectSm" class=" form-control-label">국가 선택</label></div>
                   <div class="col-12 col-md-6">
                   	<select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                   	 <option value="0">제작국가 선택</option>
                   	 <option th:each="originSel : ${originSelect}" th:text="${originSel.originMain}"></option>
                    </select>
                   </div>
               </td>
               <td>
               <div class="col col-md-12"><label for="selectSm" class=" form-control-label">제작회사 선택</label></div>
  		  	 	<div class="col-12 col-md-6">
                 <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                  <option value="0">제작회사 선택</option>
                  <option th:each="vendorSel : ${vendorSelect}" th:text="${vendorSel.vendorName}">차량 종류 선택</option>
                 </select>
           	   </div>
           	   </td>
           	   </tr>
           	   
               
               <tr><td> 	
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 종류</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 종류 선택</option>
                           <option th:each="carClassSel : ${carClassSelect}" th:text="${carClassSel.carClassMain}">차량 종류 선택</option>             
                       </select>
                   	</div>
                   </td><td>
                 <div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 모델</label></div>
                       <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 모델 선택</option>
                           <option th:each="carModelSel : ${carModelSelect}" th:text="${carModelSel.carModelName}">차량 모델 선택</option>                           
                       </select>
                      </div>
                       </td>
                   </tr>    
     	  <tr><td>
                <div class="col col-md-12"><label for="selectSm" class=" form-control-label">상세 모델 선택</label></div>
                        <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                          <option value="0">상세 모델 선택</option>
                           <option th:each="yearCarSel : ${yearCarSelect}" th:text="${yearCarSel.carModelDetail}"></option>
                       </select>
               </div> 
               </td><td>
               <div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 등급 선택</label></div>
                        <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 등급 선택</option>
                           <option th:each="opGradeSel : ${opGradeSelect}" th:text="${opGradeSel.optionGradeName}">차량 등급 선택</option>
                           
                       </select>
               </div>
               </td></tr>
				<tr><td>			
              <div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 선택옵션 선택</label></div>
                        <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option th:each="opChoiceSel : ${opChoiceSelect}" th:text="${opChoiceSel.choiceOptionName}"></option>
                          
                          
                       </select>
               </div>
               </td><td>
              
               <div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 컬러 대분류</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 색상 선택</option>
                           <option th:each="bigColSel : ${bigColSelect}" th:text="${bigColSel.colorBigName}"></option>
                       </select>
                   	</div>
                   	<td>
                   	</tr>
              	<tr><td>     	
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 컬러 상세분류</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">상세 색상 선택</option>
                           <option th:each="midColSel : ${midColSelect}" th:text="${midColSel.colorMidName}"></option>
                       </select>
                   	</div>
              </td><td>
             		<div class="col col-md-12"><label for="selectSm" class=" form-control-label">연료 종류</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 연료 선택</option>
                           <option th:each="fuelSel : ${fuelSelect}" th:text="${fuelSel.fuelType}"></option>
                           
                       </select>
                   	</div>
                   	<td></tr>
                   	<tr><td>
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 종류</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">차량 엔진 선택</option>
                           <option th:each="engineSel : ${engineSelect}" th:text="${engineSel.engineType}">차량 엔진 선택</option>
                       </select>
                   	</div>
                   	</td>
                   	<td>
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 미션</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option th:each="trnsMiSel : ${trnsMielect}" th:text="${trnsMiSel.tmType}">차량 미션 선택</option>
                         
                       </select>
                   	</div>
                   	<td>
                   	</tr>
                   	<tr>
                   	<td>
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">차량 구동 방식</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">구동 방식 선택</option>
                           <option th:each="driveWaySel : ${driveWaySelect}" th:text="${driveWaySel.dwType}">차량 구동 방식</option>
                       </select>
                   	</div>
                   	</td><td>
                   	<div class="col col-md-12"><label for="selectSm" class=" form-control-label">엔진 형식</label></div>
            		   <div class="col-12 col-md-6">
                       <select name="selectSm" id="selectSm" class="form-control-sm form-control" style="width: 340px;">
                           <option value="0">엔진 형식 선택</option>
                           <option th:each="powTrainSel : ${powTrainSelect}" th:text="${powTrainSel.engineForm}">엔진 형식</option>
                       </select>
                   	</div>
                   	<td></tr>
                  </table>    
        
              </div>
              
              
               
               
               <div class="col-8" style="">
                   <div class="form-group">
                   <label for="postal-code" class=" form-control-label">생산년도</label><input type="text" id="postal-code" placeholder="생산년도" class="form-control" name="carProductionYear"></div>
               </div>
               <div class="col-8">
                   <div class="form-group"><label for="postal-code" class=" form-control-label">자동차 등록일</label><input type="text" id="postal-code" placeholder="자동차 등록일" class="form-control" name="carRegistrationDate"></div>
               </div>
               <div class="col-8">
                   <div class="form-group"><label for="postal-code" class=" form-control-label">마지막 방문시 주행거리</label><input type="text" id="postal-code" placeholder="마지막 방문시 주행거리" class="form-control" name="lastDistanceDriven"></div>
               </div>
               <div class="col-8">
                   <div class="form-group"><label for="postal-code" class=" form-control-label">마지막 방문일</label><input type="text" id="postal-code" placeholder="마지막 방문일" class="form-control" name="lastVisitDate"></div>
               </div>
                  
     	  <button type="submit" class="btn btn-primary" name="carBtn">차량 등록</button>
   </form>
   </div>
        </div>
</div>
</th:block>
</html>