<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>EN_genius</title>
	</th:block>
	<th:block layout:fragment="customContents">
		
	<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
    
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form" style="display: flex;">
                <div class="login-form" style="flex: 1;">
                    <form action="/Adminlogin">
                    	<p style=text-align:center>관리자</p><br><br>
                       	<div class="form-group">
                            <label>아이디</label>
                            <input type="text" class="form-control" placeholder="아이디를 입력해주세요">
                        </div>
                        <div class="form-group">
                            <label>비밀번호</label>
                            <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요">
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">로그인</button>
                        <br><br><br><br>
                    </form>
                </div>
                <div class="login-form" style="flex: 1;">
                    <form action="/Bosslogin">
                    	<p style=text-align:center>사장님</p><br><br>
                        <div class="form-group">
                            <label>아이디</label>
                            <input type="text" class="form-control" placeholder="아이디를 입력해주세요">
                        </div>
                        <div class="form-group">
                            <label>비밀번호</label>
                            <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 아이디 저장
                            </label>
                            <label class="pull-right">
                                <a href="#">비밀번호 찾기</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">로그인</button>
                        <div class="register-link m-t-15 text-center"><br>
                            <p><a href="/CarFactoryInsert">회원가입</a></p>
                        </div>
                    </form>
                </div>
               
                <div class="login-form" style="flex: 1;">
                    <form action="/Employeelogin">
                    	<p style=text-align:center>직원</p><br><br>
                        <div class="form-group">
                        <br><br>
                            <label>직원코드</label>
                            <input type="text" class="form-control" placeholder="직원 코드를 입력해주세요">
                        </div>
                        <br><br><br>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">로그인</button>
                        <br><br><br><br>
                    </form>
                </div>
				</div>
            </div>
        </div>
    </div>
	</th:block>
</body>
</html>
