<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis맵퍼  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace속성은 인터페이스의 위치를 적는다. -->
  
  
  
<mapper namespace="com.cafe24.radev.mapper.CarMapper">
	<!-- id : mapper 관련 메서드명 resultType : vo주소.vo명 -->
	
	<insert id="getCarInsert" parameterType="com.cafe24.radev.vo.voCarRegister">
		
	INSERT 
			customer_car_info_code,
			bs_code,
			customer_code,
			customer_car_number,
			vendor_code,
			rc_code,
			car_production_year,
			car_registration_date,
			last_distance_driven,
			last_visit_date,
			customer_car_info_writer,
			customer_car_info_date
			)VALUES(
			
			#{customerCarInfoCode},
			#{bsCode},
			#{customerCode},
			#{customerCarNumber},
			#{vendorCode},
			#{carProductionYear},
			#{carRegistrationDate},
			#{lastDistanceDriven},
			#{lastVisitDate},
			#{customerCarInfoWriter},
			#{customerCarInfoDate}
			
			)
		FROM
			customer_car_info_table
	</insert>
	<select id="getCarList" resultType="com.cafe24.radev.vo.voCarRegister">
		SELECT 
			customer_car_info_code AS customerCarInfoCode,
			bs_code as bsCode,
			customer_code AS customerCode,
			customer_car_ number AS customerCarNumber,
			vendor_code AS vendorCode,
			rc_code AS rcCode,
			car_production_year AS carProductionYear,
			car_registration_date AS carRegistrationDate,
			last_distance_driven AS lastDistanceDriven,
			last_visit_date AS lastVisitDate,
			customer_car_info_writer AS customerCarInfoWriter,
			customer_car_info_date AS customerCarInfoDate
			
		FROM
			customer_car_info_table
	</select>

	
</mapper>