<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis맵퍼  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace속성은 인터페이스의 위치를 적는다. -->
<mapper namespace="com.cafe24.radev.mapper.CustomerMapper">
	<select id="getCustomerList" resultType="com.cafe24.radev.vo.Customer">
	  	SELECT 
			customer_code		as customerCode
			,bs_code			as bsCode
			,ei_code			as eiCode
			,customer_sign		as customerSign
			,customer_name		as customerName
			,customer_birth		as customerBirth
			,customer_gender	as customerGender
			,customer_addr		as customerAddr
			,customer_phone		as customerPhone
			,customer_memo		as customerMemo
		FROM
			customer_tb
		WHERE
			bs_code='cp001'
	</select>
	<insert id="getCustomerInsert" parameterType="com.cafe24.radev.vo.Customer">
		INSERT INTO tb_member(
			 m_id
			,m_pw
			,m_level
			,m_name
			,m_email
		)VALUES(
			 #{memberId}
			,#{memberPw}
			,#{memberLevel}
			,#{memberName}
			,#{memberEmail}
		)
	</insert>
</mapper>