<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.radev.mapper.RecMapper">
	<resultMap type="com.cafe24.radev.vo.VoRecRegister" id="getRecList">
		<result property="receptionCode" column="reception_code"/>
		<result property="bsCode" column="bs_code"/>
		<result property="customerCarInfoCode" column="customer_car_info_code"/>
		<result property="repairClassCode" column="repair_class_code"/>
		<result property="displaceMent" column="reception_writer"/>
		<result property="receptionDate" column="reception_date"/>

	</resultMap>

	<insert id="getRecInsert" parameterType="com.cafe24.radev.vo.VoRecRegister">
		INSERT INTO 
		reception_tb 
		
		(reception_code,
		 bs_code,
		 customer_car_info_code, 
		 repair_class_code, 
		 reception_writer, 
		 reception_date)
	VALUES (${reception_code},
			${bsCode}, 
			${customerCarInfoCode}, 
			${repairClassCode}, 
			${displaceMent}, 
			NOW())
	
	</insert>
</mapper>