<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      <!-- layout:decorate 레이아웃 참고 -->

	<th:block layout:fragment="customTitle">
		<title>부품등록</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$(document).on('change','#fCate',function(){
				var fVal = $('#fCate').val();
				console.log(fVal);

				var request = $.ajax({
					url: "/sCateCall",
					method: "POST",
					data: { fVal : fVal },
					dataType: "json"
				});
				
				request.done(function( data ) {
					var sCate = null;
					console.log(data);
					if(data != null && data.length>0){
						
						$('#sCate').attr('style','display:block');
						for(var i=0; i<data.length; i++){
							sCate = data[i];
							console.log(sCate);
							$('#sCate').append('<option>'+sCate+'</option>');
						}
					}
				});
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
	
			});
		});
	</script>
		등록
		<form th:action="@{/partList}">
			<input type="text" placeholder="파트넘버"><br>
				<select id="fCate">
					<option>::대분류::</option>
					<option th:each=fcl:${fCateList} th:text="${fcl.firstCateName}" th:value="${fcl.firstCateName}"></option>
				</select><br>
				<select id="sCate" style="display: none;">
					<option>::중분류::</option>
				</select>
			<input type="text" placeholder="부품명"><br>
			<input type="text" placeholder="수량"><br>
			<input type="text" placeholder="가격"><br>
			<button type="submit">등록하기</button>
		</form>
	</th:block>
</html>