<!DOCTYPE html>
<!-- layout:decorate 레이아웃 활용을 위한 속성 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
<th:block layout:fragment="customTitle">
	<title>표준정기점검표</title>
</th:block>

<th:block layout:fragment="customScript">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.checkBtn').click(function(){
			var bigcate = $(this).val();
			//console.log(bigcate)
			
			var request = $.ajax({
			  url: "/checkList2",	//호출될 url
			  method: "POST",
			  data: { bigcate : bigcate },//파라미터
			  dataType: "json"		//응답 타입
			});
			 			
			request.done(function( data ) {
				for(var i=0; i<data.length; i++){
					var map = data[i];
					//console.log(map.chassis);
					
/* 					if(map == 'engine'){
						$('.test').append('<button class="checkBtn" value="'+ map.engine +'">'+map.engine+'</button><br>')	
					}else if(map.chassis == 'chassis'){
						$('.test').append('<button class="checkBtn" value="'+ map.chassis +'">'+map.chassis+'</button><br>')	
					}
*/
					
// 					for(var j=0; j<map.length; j++){
// 						var a = map[j]
// 						console.log(a);
// 					}
				
				}	
				
			
				console.log(data)
				//var midName = data.get(1);
				//console.log(midName);
			})
			
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
// 			var test = $('#test');
// 			test.attr('style','display:block');
			
		});	
	
		/* $(document).ready(function(){
			$('#checkEnBtn').click(function(){
			   var bigcate = $(this).val();
			   console.log(bigcate);
			});
			
			$('#checkSeBtn').click(function(){
				   var bigcate = $(this).val();
				   console.log(bigcate);
				});
			
			$('#checkElBtn').click(function(){
				   var bigcate = $(this).val();
				   console.log(bigcate);
				});
			
			$('#checkBoBtn').click(function(){
				   var bigcate = $(this).val();
				   console.log(bigcate);
				}); */
		})
	</script>
</th:block>

<th:block layout:fragment="customContents">
	
	<div>
		<div style="float: left">
			<ul>
				<li><button class="checkBtn" value="engine">엔진</button></li>
				<li><button class="checkBtn" value="chassis">섀시</button></li>
				<li><button class="checkBtn" value="transmission">변속기</button></li>
				<li><button class="checkBtn" value="electric">전장</button></li>
				<li><button class="checkBtn" value="body">바디</button></li>
			</ul>
		</div>
		<div class="test">
			<ul>
							
			</ul>
		</div>
	</div>
	

</th:block>

</html>