<!DOCTYPE html>
<!-- layout:decorate 레이아웃 활용을 위한 속성 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
      
<th:block layout:fragment="customTitle">
	<title>표준정기점검표</title>
</th:block>
	
      
<th:block layout:fragment="customContents">
	
	<h1>정기 점검표</h1>
	<br>
	
	<table id="bootstrap-data-table" class="table table-striped table-bordered">
		<tr>			
			<td>교환목록</td>
			<td>거리별 교환주기</td>
			<td>기간별 교환주기</td>
		</tr>
		<tr th:each="l : ${routineCheckList}">
			<td th:text="${l.riItem}"></td>
			<td th:text="${l.distanceCycle}"></td>
			<td th:text="${l.periodCycle}"></td>
		</tr>
	</table>

</th:block>
      
</html>